# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  '.tree-view' : [
    {
      label: 'Open in CMD'
      command: 'open-in-cmd:open'
    }
  ]
